{% extends 'includes/index.html' %}
{% load widget_tweaks %}
{% block title %}Iniciar Sesión{% endblock %}
{% block form %}
    <div class="mai-wrapper mai-login">
  {% if 'register' in request.GET %}
      <div class="alert alert-theme alert-success alert-dismissible" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="s7-close" aria-hidden="true"></span></button>
        <div class="icon"><span class="s7-check"></span></div>
        <div class="message"><strong>¡Usuario registrado correctamente!</strong></div>
      </div>
  {% endif %}
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <div class="alert alert-theme alert-danger alert-dismissible" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="s7-close" aria-hidden="true"></span></button>
        <div class="icon"><span class="s7-close"></span></div>
        <div class="message"><strong>¡Alerta!</strong> {{ error }}</div>
      </div>
    {% endfor %}
  {% endfor %}
      <div class="main-content container">
        <div class="splash-container row">
          <div class="col-md-6 user-message">
            <span class="splash-message text-right">Playground<br></span>
            <span class="alternative-message text-right">¿No tienes una cuenta? <a href="{% url 'signup' %}" rel="nofollow">Registrate aquí</a></span>
          </div>
          <div class="col-md-6 form-message"><!-- <img class="logo-img mb-4" src="" alt="logo" width="169" height="28"> --><span class="splash-description text-center mt-5 mb-5">¡Accesa a tu cuenta!</span>
            <form action="" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><i class="icon s7-user"></i></div>
                  {% render_field form.username class="form-control" placeholder="Nombre de Usuario" %}                
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><i class="icon s7-lock"></i></div>
                  {% render_field form.password class="form-control" placeholder="Contraseña" %}    
                </div>
              </div>
              <div class="form-group login-submit">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
              </div>
            </form>
            <div class="form-group row login-tools">
              <div class="col-sm-6 pt-2 text-sm-right login-forgot-password">
                <a href="{% url 'password_reset' %}" rel="nofollow">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
            <div class="out-links"><a href="#">&copy; {% now 'Y' %} Elihu Silva</a></div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}