{% extends 'includes/index.html' %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}
{% block content %}
                <div class="row">
                    <div class="col-md-8">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-theme alert-danger alert-dismissible" role="alert">
                            <div class="icon">
                                <span class="s7-close"></span>
                            </div>
                            <div class="message">
                                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="s7-close" aria-hidden="true"></span></button>
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                        <div class="card card-default">
                            <div class="card-header card-header-divider">Cambio de Contraseña</div>
                            <div class="card-body">
                                <p class="lead">Por favor, introduzca su contraseña actual por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="id_old_password" name="old_password" placeholder="Contraseña Actual" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Nueva Contraseña" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Confirmar Nueva Contraseña" required>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-left">
                                            <button class="btn btn-space btn-primary" type="submit">Actualizar</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% now 'c' %}
{% endblock %}
