{% extends 'includes/index.html' %}
{% block title %}Reestablecer contraseña en Playground{% endblock %}
{% block form %}
        <div class="mai-wrapper mai-forgot-password">
            {{ form.email.errors }}
            <div class="main-content container">
                <div class="splash-container row">
                    <div class="col-md-6 user-message">
                        <span class="splash-message text-right">Oops!<br> esto te tomará<br> solo un momento.</span>
                        <span class="alternative-message text-right">¿No tienes una cuenta? <a href="{% url 'signup' %}" rel="nofollow">Registrate aquí</a></span>
                    </div>
                    <div class="col-md-6 form-message"><!-- <img class="logo-img mb-4" src="assets/img/logo-2x.png" alt="logo" width="169" height="28"> -->
                        <span class="splash-description text-center mt-5 mb-5">No te preocupes, te enviarémos un email para reestablecer tu contraseña.</span>
                        <form class="form-forgot-password" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><i class="icon s7-mail"></i></div>
                                    <input class="form-control" type="email" name="email" id="id_email" maxlength="254" placeholder="Introduce tu email" required>
                                </div>
                            </div>
                            <div class="form-group login-submit">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Reestablecer Contraseña</button>
                            </div>
                        </form>
                        <div class="out-links"><a href="#">&copy; {% now 'Y' %} Elihu Silva</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}