{% extends 'includes/index.html' %}
{% load static %}
{% block title %}Actualizar Email{% endblock %}
{% block content %}
                <div class="row">
                    <div class="col-md-8">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-theme alert-danger alert-dismissible" role="alert">
                            <div class="icon">
                                <span class="s7-close"></span>
                            </div>
                            <div class="message">
                                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="s7-close" aria-hidden="true"></span></button>
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                        <div class="card card-default">
                            <div class="card-header card-header-divider">Actualizar Email</div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group">
                                        <p class="text-left">
                                            <button class="btn btn-space btn-primary" type="submit">Actualizar</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% now 'c' %}
{% endblock %}
