            <!-- Navbar Subheader -->
            <nav class="navbar navbar-expand-lg mai-sub-header">
                <div class="container">
                    <nav class="navbar navbar-expand-md">
                        <button class="navbar-toggler hidden-md-up collapsed" type="button" data-toggle="collapse" data-target="#mai-navbar-collapse" aria-controls="mai-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>
                        <div class="navbar-collapse collapse mai-nav-tabs" id="mai-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="nav-item parent {% if request.path == '/' %}open{% endif %}"><a class="nav-link" href="#" role="button" aria-expanded="false"><span class="icon s7-home"></span><span>Inicio</span></a>
                                    <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'home' %}">
                                                <span class="name">Página Principal</span>
                                            </a>
                                        </li>
                                        {% if request.user.is_staff %}
                                        <li class="nav-item">
                                            <a class="nav-link"  href="{% url 'admin:index' %}" rel="nofollow, noindex">
                                                <span class="name">Dashboard</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% comment %} <li class="nav-item dropdown parent"><a class="nav-link" href="ui-elements.php" data-toggle="dropdown"><span class="icon s7-diamond"></span><span class="name">UI Elements</span></a>
                                            <div class="dropdown-menu mai-sub-nav" role="menu">
                                                <a class="dropdown-item" href="#">General</a>
                                            </div>
                                        </li>  {% endcomment %}
                                    </ul>
                                </li>
                                {% include 'pages/includes/pages_menu.html' %}
                                {% include 'profiles/includes/profiles_menu.html' %}
                            {% if request.user.is_authenticated %}
                                {% include 'messenger/includes/messenger_menu.html' %}
                            {% endif %}
                            </ul>
                        </div>
                    </nav>
                    <div class="search">
                        <input type="text" placeholder="Buscar..." name="q"><span class="s7-search"></span>
                    </div>
                </div>
            </nav>
            <!-- End Navbar Subheader -->