                                <li class="nav-item parent {% if request.path == '/profiles' %}open{% endif %}"><a class="nav-link" href="#" rel="nofollow, noindex" role="button" aria-expanded="false"><span class="icon s7-users"></span><span>Perfiles</span></a>
                                    <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'profiles:profiles' %}" rel="nofollow, noindex"><span class="name">Perfiles</span></a>
                                        </li>
                                    </ul>
                                </li>